form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #1e1e1f;
  margin-bottom: 26px;
}

textarea {
  max-width: 500px;
  width: 250px;
  height: 100px;
}

.TodoForm-buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 1rem;
  border: none;
  font-family: "Monserrat";
}
.TodoForm-button--add {
  background: #61dafa;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.TodoForm-button--cancel {
  background: transparent;
}
